<h1>Listing shoplists</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shoplists.each do |shoplist| %>
  <tr>
    <td><%= shoplist.description %></td>
    <td><%= link_to 'Show', shoplist %></td>
    <td><%= link_to 'Edit', edit_shoplist_path(shoplist) %></td>
    <td><%= link_to 'Destroy', shoplist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shoplist', new_shoplist_path %>
