<center><div class="page-header">
   <font color="gray" size ="6" face = "Baskerville Old Face">29分鐘讓您成今晚大廚！</font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
        </font>
  </center>


<font color="gray" size ="5" face = "Baskerville Old Face">新會員註冊</font>
<br><br>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    

  	<%= f.input :name, label: "中文姓名（收餐點人）", :required => true, :autofocus => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :phone, label: "聯絡電話" %>
    <%= f.input :address, label: "送餐地址" %>
    <%= f.input :password, :required => true %>
  


  <div class="form-actions">
    <%= f.button :submit, "註冊" %>
  </div>
  當您註冊並開始使用本服務代表您已經閱讀了解並同意本服務條款
<% end %>

<%= render "devise/shared/links" %>
</div>
