<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/about" /> 
    <meta property="og:title"           content="Chef29 今晚大廚- 關於我們" /> 
    <meta property="og:description"     content="Chef29今晚大廚是一家美食新創良心事業，我們結合美食與科技，透過買1捐1的概念希望能對社會作些有意義的事。若您認同（買1捐1）是在作有意義的事，請協助我們將Chef29的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
    <meta property="og:image"           content="http://farm8.staticflickr.com/7325/10641844363_8f23ebe1a9_o.jpg" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
     <font color="gray" size ="6" face = "Baskerville Old Face">一家結合美食與科技的新創良心事業
        </font>
          
  <% if user_signed_in? %>

<% else %>
  </font>
  
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
  </font>   
</center>

<center>

 <center><img src="http://farm8.staticflickr.com/7416/10454139435_53031a18b7_o.png" width="1050" height="500" alt="knowB"></div><br>
 
 <% if user_signed_in? %>

<% else %>
        </font>
  
  <center><font color = "white" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large btn-primary" %>
    <% end %>
  </center>
   </font> </center>

<hr>
  <center><img src="http://farm3.staticflickr.com/2859/10622674833_d24535d0f0_o.png" width="1050" height="430" alt="company"><br><br>
  
  <center><% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
  </center>
    </center>

 <hr>   
<center><img src="http://farm4.staticflickr.com/3786/10622313094_612ce7aeb3_o.png" width="1050" height="430" alt="knowA"><br><br>
<% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white"  > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
    </center>

<hr>
<center><a href="http://www.chef29.com/give" ><img src="http://farm3.staticflickr.com/2816/10622374494_d1d237984f_o.png" width="1050" height="500" alt="knowC"><br><br>

<% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white"  > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
  </center>
<hr>
<center><img src="http://farm4.staticflickr.com/3718/10586908384_c3dd3c2431_o.png" width="1050" height="500" alt="know4"><br><br>

<% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>

</center><hr>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>