<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/about" /> 
    <meta property="og:title"           content="Chef29 今晚大廚- 關於我們" /> 
    <meta property="og:description"     content="曾經有兩位男生與一位女孩聚在一起，1位創了好幾次業，一位是專業廚師，一位是設計師。聚會結束後他們決定創辦 Chef29今晚大廚來幫助貧困兒童，報告完畢～" /> 
    <meta property="og:image"           content="http://farm8.staticflickr.com/7325/10641844363_8f23ebe1a9_o.jpg" /> 
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
     <font color="gray" size ="6" face = "Baskerville Old Face">一家結合美食與科技的新創良心事業
        </font>
          
  <% if user_signed_in? %>

<% else %>
  </font>
  
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
  </font>   
</center>

<center>

 <center><img src="http://farm8.staticflickr.com/7416/10454139435_53031a18b7_o.png" width="1050" height="500" alt="knowB"></div><br>
 
 <% if user_signed_in? %>

<% else %>
        </font>
  
  <center><font color = "white" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large btn-primary" %>
    <% end %>
  </center>
   </font> </center>

<hr>
  <center><img src="http://farm3.staticflickr.com/2859/10622674833_d24535d0f0_o.png" width="1050" height="430" alt="company"><br><br>
  
  <center><% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
  </center>
    </center>

 <hr>   
<center><img src="http://farm4.staticflickr.com/3786/10622313094_612ce7aeb3_o.png" width="1050" height="430" alt="knowA"><br><br>
<% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white"  > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
    </center>

<hr>
<center><a href="http://www.chef29.com/give" ><img src="http://farm3.staticflickr.com/2816/10622374494_d1d237984f_o.png" width="1050" height="500" alt="knowC"><br><br>

<% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white"  > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
  </center>
<hr>
<center><img src="http://farm4.staticflickr.com/3718/10586908384_c3dd3c2431_o.png" width="1050" height="500" alt="know4"></a></center><br><br>

<hr>
<center><font color="gray" size ="4" face = "Baskerville Old Face">

Chef29 今晚大廚
<br><br>

Chef29 今晚大廚是"有意義的精緻美食" (Fine Dining With A Purpose)，
<br><br>
我們主廚每周為您準備食譜與食材，分裝後送到府上讓您29分鐘內成為今晚大廚，
<br><br>
同時買1餐給1餐幫助弱勢朋友與貧困兒童。乍看下我們是賣吃的沒錯，但其實我們
<br><br>
跟"吃"這1天3頓飯都在做的事沒有太多關係，而是將料理美食當作人生學習的重要
<br><br>
科目，希望各位能越吃越有品味，越健康，省時間，省錢又不需要丟掉多餘的食材浪費。
<br><br><br>
關於我們
<br><br>
Chef29今晚大廚是現在國外很流行的，希望能做對社會有意義的事的營利事業(For 
<br><br>
Profit Organization With A Social Mission)。我們的動機非常單純，我們想幫助人
<br><br>
也真的會去幫助人，就這麼簡單。是的，我們是營利事業，所以我們不會勸募，跟
<br><br>
慈善機構的關係僅限於我們捐錢給他們，而是結合科技與美食來創造價值，然後將一部份
<br><br>
捕捉到的價值挪出來做短期對社會有意義的事，在將其餘的價值投資回去來創造長期對社會
<br><br>
更有意義的價值。作好事(Do Good)是我們的終極目標，而Chef29今晚大廚是我們要達成
<br><br>
目標的方法，因此我們希望會員購買我們的餐點是為了餐點的價值 (省時，省錢，學習料理等)而非我們的目標。
<br><br><br><br>

Chef29 團隊
<br><br>
Chef29 創辦團隊共有3人，他們是多年的朋友，因共同原因而創辦 Chef29。
<br><br>
Stevie: Chef29 主廚，每周推出新食譜，採買食材。
<br><br>
馬修: 從維持網站到送餐點樣樣都要作，是自己新創事業的"狗"。
<br><br>
Liz: 是位對設計有獨特見解的女生，有了她兩位男生才得以女性角度看待精緻美食。
<br><br><br><br>
對於未來
<br><br>
我們並不曉得未來Chef29 今晚大廚能夠到達哪裡或幫助多少人，但現在我們會使盡全
<br><br>
身之力讓產品與服務越來越好，若有多餘的資源我們會投入於其他更有意義的事，如創造
<br><br>
就業機會 (問題很簡單也很難，就是要如何創造?)，所以就看老天爺願意讓我們爬多高了。
<br><br><br><br>
Chef29 今晚大廚 對於餐點 - "真不二價"，然後倒過來念
<br><br><br>
Chef29 KPI - "Benefits Over Profits-好處在利潤之上"
<br><br><br>
Chef29 Mantra - "Don't Be Afraid To Fail And Be Nice To People/別害怕失敗，對人好點。"
<br><br><br><br>
 </font>

<% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>

</center>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>