<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="1421303274749826" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.thechefstars.com/instagram" /> 
    <meta property="og:title"           content="TheChefStars 主廚之星 Instagram" /> 
    <meta property="og:description"     content="TheChefStars 主廚之星邀請您將您用 Instagram app 拍攝的美食照片或影片與我們分享，TheChefStars 現在開放 Instagram 照片與影片上傳功能。" /> 
    <meta property="og:image"           content="http://farm3.staticflickr.com/2806/9930930034_c9a444257f_o.png" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
     <font color="gray" size ="6" face = "Baskerville Old Face">台灣區主廚之星
        </font>
          <% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
   
            <% end %>
        </font>
     
  </center>
</head>

<body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style="border-right: 1px solid #ccc;" >
      <font style="padding-left:0px;" color= "gray" size= "3"> Asian亞洲料理 </font>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
	<font style="padding-left:0px;"color= "gray" size= "3"> Foreign 亞洲料理 </font>
	<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div> 
    


  <div class="span2">
   <font style="padding-left:0px;" size="3"><%= link_to "DN innovaćion", 'http://www.thechefstars.com/users/dn-innovacion' %></font>
   <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "Stay & Sweet Tea", 'http://www.thechefstars.com/users/stay-sweet-tea' %></font>
   <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to " Joël Robuchon", 'http://www.thechefstars.com/users/atelier-de-joel-robushon-taipei' %></font>
    <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "Abu Authentic Cusine", 'http://www.thechefstars.com/users/abu-authentic-cusine' %></font>

  </div>


  <div class="span2">
  	
  <font style="padding-left:0px;" size="3"><%= link_to "Abu Brasserie", 'http://www.thechefstars.com/users/abu-brrasserie' %></font>
   <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "Diary", 'http://www.thechefstars.com/users/diiary' %></font>
   <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to " Danny & Company", 'http://www.thechefstars.com/users/danny-company' %></font>
    <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "a poet", 'http://www.thechefstars.com/users/a-poet' %></font>

 
  </div>



  <div class="span2">
  	
    <font style="padding-left:0px;" size="3"><%= link_to "Forchetta", 'http://www.thechefstars.com/users/forcheta' %></font>
   <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "Whinos", 'http://www.thechefstars.com/users/whinos' %></font>
   <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to " Baffi Italian", 'http://www.thechefstars.com/users/baffi-italian' %></font>
    <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "EIEIO", 'http://www.thechefstars.com/users/eieio' %></font>

  </div>




  <div class="span2">
  	
     <font style="padding-left:0px;" size="3"><%= link_to "Rue 216", 'http://www.thechefstars.com/users/rue-16' %></font>
   <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "Osteria by Angie", 'http://www.thechefstars.com/users/steria-by-angie' %></font>
   <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "Lawry's Taipei", 'http://www.thechefstars.com/users/lawry-prime-rib' %></font>
    <br>
   <br>
   <font style="padding-left:0px;" size="3"><%= link_to "好樣 VVG", 'http://www.thechefstars.com/users/vvg' %></font>

  </div>
</div>

</body>
