<!DOCTYPE html>
<html>

<center><div class="page-header">
<font color="red" size ="6" face = "Baskerville Old Face">最新餐點3/30-4/4 ，出貨日期4/9-11

<% if user_signed_in? %>
<% else %>
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
    <% end %>
  </font>
</center>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/menu" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 -Menu 菜單上" /><meta property="og:description"     content="每週將推出新的外國料理，讓您在家享受料理大廚等級的美食。若您認同（買1給1）是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
    <meta property="og:image"           content="http://farm3.staticflickr.com/2808/11474291736_e540e64d49_o.jpg" /> 
<% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>

<br><br>
<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<br><br><br>


<body>
 <img src="http://farm4.staticflickr.com/3765/11112004814_5aeab96b1e_o.png" width="1447" height="447" alt="10688137965_0c67a948d6_o">

 <br><br><br>
<hr>
  <font size = "5" color= "gray" face = "Baskerville Old Face">最新餐點3/30-4/4 ，出貨日期4/9-11</font>

<br>
<br>
<br>

  <font size = "3" color= "red">。以下菜單訂購截止時間為 2014/4/4 星期五 下午 1:30分 </font>
<br>
  <font size = "3" color= "red">。餐點付款截止時間 2014/4/4 星期五 下午3:30分。 </font>
  <br>
  <font size = "3" color= "red">。餐點出貨時間為 2014/4/9-11 星期三，四，五。（出貨3日） </font>
  <br>
  <font size = "3" color= "red">。每份餐點＄299 </font>
  

<br>
<br>
<br>
<br>
  <font size = "2" color= "blue">請點圖片查看菜單細節</font>
  <br>
  
<center>
 <div class="row-fluid">

  <div class="span4" >
    <a href="http://www.chef29.com/dish1" ><img src="https://farm4.staticflickr.com/3746/13478222885_41153a3a5e.jpg" width="376" height="400" alt="1. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >
    <a href="http://www.chef29.com/dish2" ><img src="https://farm8.staticflickr.com/7371/13463609604_da0bc00c8a.jpg" width="377" height="400" alt="2. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >

    <a href="http://www.chef29.com/dish3"><img src="https://farm3.staticflickr.com/2869/13463353293_db46d0519e.jpg" width="377" height="400" alt="3. Week Nov 8th"></a>
<br><br>

  </div>

 </div>
</center>

<hr>

<center>
 <div class="row-fluid">

  <div class="span4" >
    <a href="http://www.chef29.com/dish4" ><img src="https://farm6.staticflickr.com/5297/13463353353_86c6cdec5a_o.jpg" width="376" height="400" alt="1. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >
    <a href="http://www.chef29.com/dish5" ><img src="https://farm3.staticflickr.com/2876/13463609574_27edd92ecd_o.jpg" width="377" height="400" alt="2. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >

    <a href="http://www.chef29.com/dish6"><img src="https://farm4.staticflickr.com/3696/13463253395_37571fdb67_o.jpg" width="377" height="400" alt="3. Week Nov 8th"></a>
<br><br>

  </div>

 </div>
</center>


<br>
<br>


<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>


</body>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>

