<!DOCTYPE html>
<html>

<center><div class="page-header">
 <font color="red" size ="6" face = "Baskerville Old Face">本週餐點訂購結束，新餐點週日上線！</font>

<% if user_signed_in? %>
<% else %>
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
    <% end %>
  </font>
</center>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/menu" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 -Menu 菜單上" /><meta property="og:description"     content="每週將推出新的外國料理，讓您在家享受料理大廚等級的美食。若您認同（買1給1）是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
    <meta property="og:image"           content="http://farm3.staticflickr.com/2808/11474291736_e540e64d49_o.jpg" /> 
<% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="http://farm8.staticflickr.com/7376/10865432235_c38d4c9a88_o.png" width="150" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="http://farm6.staticflickr.com/5542/10865422046_415fca3c0d_o.png" width="150" height="301" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="http://farm8.staticflickr.com/7405/10866846856_8fc17bfde9_o.png" width="160" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="http://farm6.staticflickr.com/5518/11040768243_3debf5b9f2_o.png" width="160" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<body>
 <img src="http://farm4.staticflickr.com/3765/11112004814_5aeab96b1e_o.png" width="1447" height="447" alt="10688137965_0c67a948d6_o">
<hr>
  <font size = "5" color= "gray" face = "Baskerville Old Face">最新餐點1/19-24｜1/29 出貨（星期三中午前）</font>

<br>
<br>
<br>

  <font size = "3" color= "red">。以下菜單訂購截止時間為 2014/1/24 星期五 下午 1:30分 </font>
<br>
  <font size = "3" color= "red">。餐點付款截止時間 2014/1/24 星期五 下午3:30分。 </font>
  <br>
  <font size = "3" color= "red">。餐點出貨時間為 2014/1/29 星期三 中午前。 </font>
  <br>
  <font size = "3" color= "red">。餐點每人份 ＄299 </font>
  

<br>
<br>
<br>
<br>
  <font size = "2" color= "blue">請點圖片查看菜單細節</font>
  <br>
  
<center>
 <div class="row-fluid">

  <div class="span4" >
    <a href="http://www.chef29.com/dish1" ><img src="http://farm6.staticflickr.com/5529/12005308344_c65de1029a_o.png" width="376" height="400" alt="1. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >
    <a href="http://www.chef29.com/dish2" ><img src="http://farm6.staticflickr.com/5528/12009440604_b9318e7a7d_o.png" width="377" height="400" alt="2. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >

    <a href="http://www.chef29.com/dish3"><img src="http://farm4.staticflickr.com/3722/12005767246_c26076d961_o.png" width="377" height="400" alt="3. Week Nov 8th"></a>
<br><br>

  </div>

 </div>
</center>

<hr>

<center>
 <div class="row-fluid">

  <div class="span4" >
    <a href="http://www.chef29.com/dish4" ><img src="http://farm8.staticflickr.com/7350/12005767076_50d4e4005f_o.png" width="376" height="400" alt="1. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >
    <a href="http://www.chef29.com/dish5" ><img src="http://farm6.staticflickr.com/5515/12004954365_33116aaaeb_o.png" width="377" height="400" alt="2. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >

    <a href="http://www.chef29.com/dish6"><img src="http://farm6.staticflickr.com/5539/12004954065_dbc2ac6f97_o.png" width="377" height="400" alt="3. Week Nov 8th"></a>
<br><br>

  </div>

 </div>
</center>

<hr>
<a href="http://www.chef29.com/fruit"><img src="http://farm6.staticflickr.com/5518/11750629405_fd1a31f862_o.png" width="1466" height="443" alt="Fruit box see"></a>

<br>
<br>


<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="http://farm8.staticflickr.com/7376/10865432235_c38d4c9a88_o.png" width="150" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="http://farm6.staticflickr.com/5542/10865422046_415fca3c0d_o.png" width="150" height="301" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="http://farm8.staticflickr.com/7405/10866846856_8fc17bfde9_o.png" width="160" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="http://farm6.staticflickr.com/5518/11040768243_3debf5b9f2_o.png" width="160" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>



</body>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>

