<!DOCTYPE html>
<html>

<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face">以下料理訂購截止時間為2013/11/12 星期一 下午1:30分</font>

<% if user_signed_in? %>
<% else %>
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
    <% end %>
  </font>
</center>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/menu" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 -Menu 菜單上" /><meta property="og:description"     content="每週將推出新的外國料理，讓您在家享受料理大廚等級的美食。若您認同（買1捐1）是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
    <meta property="og:image"           content="http://farm8.staticflickr.com/7373/10131397636_17d6efbc09_o.jpg" /> 
<% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>

<body>
  <img src="http://farm4.staticflickr.com/3688/10688137965_0c67a948d6_o.png" width="1447" height="447" alt="10470381556_19396de6a0_o">
<hr>
  <font size = "5" color= "gray" face = "Baskerville Old Face">最新餐點</font>

<br>
<br>
<br>

  <font size = "3" color= "red">。以下菜單出貨時間為 2013/11/17 星期一下午 1:30分 </font>
<br>
  <font size = "3" color= "red">。菜單付款截止時間 2013/11/12 星期一下午3:30分，若未收到款項將視為放棄訂購。 </font>
  <br>
  <font size = "3" color= "red">。餐點快遞費用於餐點送達時由買家支付。 </font>

<br>
<br>
<br>
<br>

<center>
 <div class="row-fluid">
  <div class="span4" ><a href="http://www.chef29.com/dish1" title="Flickr 上 mattwusta 的 seared"><img src="http://farm8.staticflickr.com/7352/10359208816_546d3448c4_o.png" width="390" height="341" alt="seared"></a></div>

  <div class="span4" ><a href="http://www.chef29.com/dish2" title="Flickr 上 mattwusta 的 parmesan"><img src="http://farm6.staticflickr.com/5550/10359209194_5dff44091a_o.png" width="390" height="341" alt="parmesan"></a></div>

  <div class="span4" ><a href="http://www.chef29.com/dish3" title="Flickr 上 mattwusta 的 fili"><img src="http://farm6.staticflickr.com/5471/10359209374_de8be35a8a_o.png" width="390" height="341" alt="fili"></a></div>
 </div>
</center>

<br>
<br>
<br>
<br>

<center><p> 
<font color = "white"> <%= link_to '訂購餐點', new_orderlist_path, class: "btn btn-large btn-success" %></font></center></p>

</body>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>

