
<img src="http://farm4.staticflickr.com/3765/11112004814_5aeab96b1e_o.png" width="1447" height="800" alt="weekly">
<hr>
<img src="http://farm3.staticflickr.com/2860/11813978916_4be0503c55_o.png" width="1348" height="446" alt="buy">

<%= simple_form_for(@orderlist, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
<br><br>
<font color="gray" size ="5" face = "Baskerville Old Face" >最新餐點 2/16-21，出貨日期 2/26-27</font>
<br><br>
<font size = "3" color= "red">餐點每人份 ＄299 </font>
 
<br>  
<br>
<br>
  <font size = "2" color= "blue">請點圖片查看餐點細節</font>
  <br>

<center>
 <div class="row-fluid">

  <div class="span4" >
    <a href="http://www.chef29.com/dish1" ><img src="http://farm4.staticflickr.com/3673/12688733715_aba0883be6_o.png" width="376" height="400" alt="1. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >
    <a href="http://www.chef29.com/dish2" ><img src="http://farm4.staticflickr.com/3685/12688733615_768d03493b_o.png" width="377" height="400" alt="2. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >

    <a href="http://www.chef29.com/dish3"><img src="http://farm6.staticflickr.com/5521/12688733775_b35b2dbb62_o.png" width="377" height="400" alt="3. Week Nov 8th"></a>
<br><br>

  </div>

 </div>
</center>

<hr>

<center>
 <div class="row-fluid">

  <div class="span4" >
    <a href="http://www.chef29.com/dish4" ><img src="http://farm8.staticflickr.com/7356/12688872583_7932490f05_o.png" width="376" height="400" alt="1. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >
    <a href="http://www.chef29.com/dish5" ><img src="http://farm3.staticflickr.com/2845/12689213744_3a90ff680f_o.png" width="377" height="400" alt="2. Week Nov 8th"></a>
<br><br>

  </div>

  <div class="span4" >

    <a href="http://www.chef29.com/dish6"><img src="http://farm8.staticflickr.com/7401/12688872263_9abeb290f7_o.png" width="377" height="400" alt="3. Week Nov 8th"></a>
<br><br>

  </div>

 </div>
</center>



 </div>
</center>
<hr>

<font size = "3" color= "red"> 一週水果箱1人份 ＄299 </font>
<br>
<img src="http://farm8.staticflickr.com/7446/11662571854_43517b0bf3_o.png" width="1492" height="1262" alt="fruit box description"></a>



<div class=" hero-unit">

<center><font color="#5CA5FF" size ="5" face = "Baskerville Old Face">餐點訂購 (每份 ＄299 ）</font></center>
<br><br>
<font color="red" size ="3" face = "Baskerville Old Face">。每次需購買最少2份餐點（一周購買訂單算一次訂購）
<br>
。可貨到付款 ＋ 運費自費（選貨到付款快遞加收＄30-$60）
<br>
。可先完成餐點付款 ＋ 運費
<br>
。訂購截止之後請勿更改訂單內容(除填寫匯款資料外)
<br>
。可送禮給別人，但需先完成餐點付款＋運費。
</font><br>



<font size ="2" color = "gray">餐點數量可以輸入0，但請不要留白!</font><br>
<font size ="2"><%= link_to '運費解說', delivery_path %></font><br>
 <font size ="3"><%= link_to'您願意參加愛心鏈活動，多付一餐 ＄299 送給下個訂餐的客人當禮物嗎？-點入看更多', 'http://www.chef29.com/pins/420-starbucks-paying-it-forward'%></font>
<br>
<br>

<%= f.input :dish1, label: "1號餐點 $299 (份量）", as: :integer, input_html: { :class => "span3
", rows: "2", :placeholder => "不可留空白" }%>

<%= f.input :dish2, label: "2號餐點 $299 (份量）", as: :integer, input_html: { :class => "span3
", rows: "2", :placeholder => "不可留空白" }%>

<%= f.input :dish3, label: "3號餐點 $299 (份量）", as: :integer, input_html: { :class => "span3
", rows: "2", :placeholder => "不可留空白" }%>

<%= f.input :dish4, label: "4號餐點 $299 (份量）", as: :integer, input_html: { :class => "span3
", rows: "2", :placeholder => "不可留空白" }%>

<%= f.input :dish5, label: "5號餐點 $299 (份量）", as: :integer, input_html: { :class => "span3
", rows: "2", :placeholder => "不可留空白" }%>

<%= f.input :dish6, label: "6號餐點 $299 (份量）", as: :integer, input_html: { :class => "span3", rows: "2", :placeholder => "不可留空白" }%>
<hr>

<center><font color="#5CA5FF" size ="5" face = "Baskerville Old Face">一週水果箱訂購 （1週1人份＄299）</font></center>
<br><br>
<font color="red" size ="3" face = "Baskerville Old Face">。可只購買1人份水果箱，每週出貨上限為3人份（快遞箱子不夠大）。
<br>
。可貨到付款 ＋ 運費自費（選貨到付款快遞加收＄30-$60）
<br>
。可先完成水果箱子付款 ＋ 運費
<br>
。新會員第一份餐點免費優惠訂購水果箱不可使用。
<br>
。水果＋餐點一起訂購不得超過5份。
<br>
。可當禮盒送人，但需先完成水果箱付款＋運費。
</font><br>
 <font size ="3"><%= link_to'您願意參加愛心鏈活動，多付一餐 ＄299 送給下個訂餐的客人當禮物嗎？-點入看更多', 'http://www.chef29.com/pins/420-starbucks-paying-it-forward'%></font>
<br>
<br>


<%= f.input :week, label: "一周水果箱 $299 (份量）", as: :integer, input_html: { :class => "span3
", rows: "2", :placeholder => "不可留空白" }%>

<%= f.input :month, label: "連續每週水果箱 （$299 X 幾週 + 運費 X 幾週)", as: :integer, input_html: { :class => "span3", rows: "2", :placeholder => "(連續幾週）不可留空白" }%>

<hr>
 <font size = "3" color= "red" face = "Baskerville Old Face">Gifts - 送禮請填入以下資料</font>
 <%= f.input :gift, label: "收禮人－送禮需先完成水果箱付款＋運費。", as: :text, input_html: { :class => "span4", rows: "1", :placeholder => "張小白"} %>
 <hr>

<%= f.input :phone, label: "收餐點(水果箱）聯絡電話", as: :text, input_html: { :class => "span4", rows: "1", :placeholder => "與註冊時電話不同在填入（0988888888）"} %>
 
 <%= f.input :address, label: "新指定收餐(水果箱）點地址", as: :text, input_html: { :class => "span4", rows: "2", :placeholder => "與註冊時地址不同在填入（106台北市金山南路1段10號5樓...）"} %>
<hr>
<font size = "3" color= "red" face = "Baskerville Old Face">訂購截止之後請勿更改訂單細節(除填寫匯款資料外)</font>

 <%= f.input :time, label: "送餐，水果箱 －日期實踐(隔周星期3，4，5 午後）", as: :text, input_html: { :class => "span4", rows: "1", :placeholder => ""} %> 

 <%= f.input :reciever, label: "發票", as: :text, input_html: { :class => "span4", rows: "1", :placeholder => "要/不用 - 若不用，發票也將捐出去"} %>

 <font size ="3"><%= link_to'您願意參加愛心鏈活動，多付一餐 ＄299 送給下個訂餐的客人當禮物嗎？-點入看更多', 'http://www.chef29.com/pins/420-starbucks-paying-it-forward'%></font>

 <%= f.input :detail, label: "備註 （您願意參加愛心鏈幫下位客人一份餐 ＄299 買單嗎？）", as: :text, input_html: { :class => "span5", rows: "3", :placeholder => "(我要參加 2014 愛心鏈） 若您有特別需求，如不吃什麼，團體訂購包裝需求(省運費），請在此填入。"} %>
 <hr>
  <%= f.input :discount, label: "免費餐點禮卷密碼", as: :text, input_html: { :class => "span5", rows: "2", :placeholder => "若有免費餐點密碼請在此輸入，付款時請扣除＄299. 與會員第一份餐點免費需要分開用，輸入錯誤密碼不出貨。"} %>
 <hr>
  <font size = "3" color= "red" face = "Baskerville Old Face">貨到付款／轉賬： 請看<%= link_to '（運費）', delivery_path %><br> </font>
  <%= f.input :paylater, label: "付款方式", as: :text, input_html: { :class => "span3", rows: "2", :placeholder => "請填入： 貨到付款/轉賬＋運費"} %>
<hr>
  <font size = "3" color= "red" face = "Baskerville Old Face"> 以下完成餐點(水果箱）付款 ＋運費後再回來填入（查看訂單 > 訂單細節 > 修改訂單)</font>
  <br><br>

 <%= f.input :account, label: "匯款轉帳(帳號末5碼）", as: :text, input_html: { :class => "span3", rows: "1", :placeholder => "請輸入您帳號末5碼，對帳用。"} %>

 <%= f.input :wireamount, label: "匯款轉帳金額", as: :text, input_html: { :class => "span3", rows: "1", :placeholder => "＄598"} %>

  <%= f.input :re, label: "匯款轉帳日期", as: :text, input_html: { :class => "span3", rows: "1", :placeholder => "2013/10/30"} %>

</div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %> 送出訂單!!
  </div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>