<div class="orderbox">
 
    <p class="description">
    	訂單編號：<%= orderlist.id %>
        <hr>
        下單時間：<%= orderlist.created_at %>
        <hr>
        訂單人：<%= orderlist.user.name %>
        <hr>
        <%= link_to orderlist.user.email, orderlist.user%>
        <hr>
        您訂購了：<%= (orderlist.dish1 + orderlist.dish2 + orderlist.dish3) %>份餐點
        <hr>
        餐點總金額：＄<%= ((orderlist.dish1 + orderlist.dish2 + orderlist.dish3) *299) %>
    </p>
   <hr>
    <% if current_user == orderlist.user %>
        <p>
          <%= link_to 'Edit', edit_orderlist_path(orderlist) %>
          <%= link_to 'Destroy', orderlist, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
    <% end %>
</div>

