<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face">以下是您的餐點預購單，請點付款按鈕來完成餐點付款。</font>
 </center>
   

<div class="row">
    <div class="span6 offset3">
        <div class="well">
          <font size = "3" color= "red">餐點出貨日期為 2012/11/12下午1:30分
           </font>
        <hr>
 <font size = "3" color= "red">餐點付款截止時間為 2012/11/12下午1:30分</font>
 <hr>
           </font>
            <p>訂單編號：
              <%= @orderlist.id %>
            </p>
            
            <hr>
            <p>訂購時間：
              <%= @orderlist.created_at %>
            </p>
            <hr>

            <p>訂購人：
              <%= @orderlist.user.name %>
            </p>
            <hr>

            <% if @orderlist.user.phone.present? %>
            <p>收餐人電話：
              <%= @orderlist.user.phone %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <% if @orderlist.user.address.present? %>
            <p>收餐地址：
              <%= @orderlist.user.address %>
            </p>
            <hr>
            <% else %>
            <% end %>
            
            <% if @orderlist.reciever.present? %>
            <p>其他收餐人：
              <%= @orderlist.reciever %>
            </p>
            <hr>
            <% else %>
            <% end %>

<% if @orderlist.phone.present? %>
            <p>聯絡電話：
              <%= @orderlist.phone %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <p>聯絡人EMAIL：
              <%= @orderlist.user.email %>
            </p>
            <hr>
            
            <% if @orderlist.phone.present? %>
            <p>送餐地址：
              <%= @orderlist.address %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <p>送餐時間：
              <%= @orderlist.time %>
            </p>
            <hr>

            <p>1號餐：
              <%= @orderlist.dish1 %>份
            </p>
           
 
            <p>2號餐：
              <%= @orderlist.dish2 %>份
            </p>
            

            <p>3號餐：
              <%= @orderlist.dish3 %>份
            </p>
            

            <p>總共購買了：
            <%= (@orderlist.dish1 + @orderlist.dish2 + @orderlist.dish3) %>份餐點
            </p>
            <hr>

            <p> ＄
            <%= ((@orderlist.dish1 + @orderlist.dish2 + @orderlist.dish3) *299) %>新台幣
            <hr>


            <% if current_user == @orderlist.user %>
                <%= link_to 'Edit', edit_orderlist_path(@orderlist) %> |
            <% end %>
            <%= link_to 'Back', orderlists_path %>
        </div>
    </div>
</div>