

<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face">以下是您的餐點預購單，請點付款按鈕來完成餐點付款。</font>
 </center>
   

<div class="row">
    <div class="span6 offset3">
        <div class="well">
          <font size = "3" color= "red">餐點出貨日期為 2012/11/12下午1:30分
           </font>
        <hr>
 <font size = "3" color= "red">餐點付款截止時間為 2012/11/07下午3:30分</font>
 <hr>
           </font>
            <p>訂單編號：
              <%= @orderlist.id %>
            </p>
            
            <hr>
            <p>訂購時間：
              <%= @orderlist.created_at %>
            </p>
            <hr>

            <p>訂購人：
              <%= @orderlist.user.name %>
            </p>
            <hr>

            <% if @orderlist.user.phone.present? %>
            <p>收餐人電話：
              <%= @orderlist.user.phone %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <% if @orderlist.user.address.present? %>
            <p>收餐地址：
              <%= @orderlist.user.address %>
            </p>
            <hr>
            <% else %>
            <% end %>

<% if @orderlist.phone.present? %>
            <p>聯絡電話：
              <%= @orderlist.phone %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <p>聯絡人EMAIL：
              <%= @orderlist.user.email %>
            </p>
            <hr>
            
            <% if @orderlist.phone.present? %>
            <p>送餐地址：
              <%= @orderlist.address %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <p>送餐時間：
              <%= @orderlist.time %>
            </p>
            <hr>

            <p>1號餐：
              <%= @orderlist.dish1 %>份
            </p>
           
 
            <p>2號餐：
              <%= @orderlist.dish2 %>份
            </p>
            

            <p>3號餐：
              <%= @orderlist.dish3 %>份
            </p>
            

            <p>總共購買了：
            <%= (@orderlist.dish1 + @orderlist.dish2 + @orderlist.dish3) %>份餐點
            </p>
            <hr>

            
            <p> 新台幣＄
            <%= ((@orderlist.dish1 + @orderlist.dish2 + @orderlist.dish3) *299) %></p>

            <font size = "2" color= "red">新會員第一份餐點免費：若您第一次溝買，請在以上購買金額扣除＄299。</font>

          <br>
            <p>發票：
              <%= @orderlist.reciever %>
            </p>

            <hr>
            <font size = "3" color= "red">以下請在完成匯款後再回來填入（查看訂單 > 訂單細節 > 編輯)</font>
<br><br>
            <p>匯款／轉帳（帳號末5碼）：
              <%= @orderlist.account %>
            </p>
            

            <p>匯款／轉帳金額：$
              <%= @orderlist.wireamount %>
            </p>
            <hr>
            <p>
            付款帳號(匯款/轉帳）: 國泰世華銀行
            </p>
            <br>
            <br>

        


            <% if current_user == @orderlist.user %>
                <%= link_to '編輯', edit_orderlist_path(@orderlist) %> |
            <% end %>
            <%= link_to '上一頁', orderlists_path %>
        </div>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>