

<center><div class="page-header">
 <font color="gray" size ="6" face = "Baskerville Old Face">感謝您完成餐點訂購，以下是您的訂單。</font>
 </center>
   

<div class="row">
  <div class="span10 offset1">
    <div class="well">
      <% if current_user == @orderlist.user %>
                <%= link_to '編輯', edit_orderlist_path(@orderlist) %> |
            <% end %>
            <%= link_to '上一頁', orderlists_path %><br>
<%= link_to '運費解說', delivery_path %><br>
  <br>
      
 <font size = "3" color= "red">請在完成匯款/轉賬餐點貨款後回來更新 1. 帳號末5碼 2.匯款金額!! (查看訂單>訂單細節>編輯>填入1.帳號末5碼 & 2.金額)</font>


 <hr>
           </font>
            <p>訂單編號：
              <%= @orderlist.id %>
            </p>
            
            <hr>
            <p>訂購時間：
              <%= @orderlist.created_at %>
            </p>
            <hr>

            <p>訂購人：
              <%= @orderlist.user.name %>
            </p>
            <hr>

            <% if @orderlist.user.phone.present? %>
            <p>收餐人電話：
              <%= @orderlist.user.phone %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <% if @orderlist.user.address.present? %>
            <p>收餐地址：
              <%= @orderlist.user.address %>
            </p>
            <hr>
            <% else %>
            <% end %>

<% if @orderlist.phone.present? %>
            <p>聯絡電話：
              <%= @orderlist.phone %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <p>聯絡人EMAIL：
              <%= @orderlist.user.email %>
            </p>
            <hr>
            
            <% if @orderlist.phone.present? %>
            <p>送餐地址：
              <%= @orderlist.address %>
            </p>
            <hr>
            <% else %>
            <% end %>

            <p>送餐時間：
              <%= @orderlist.time %>
            </p>
            <hr>

            <p>1號餐：
              <%= @orderlist.dish1 %>份
            </p>
           
 
            <p>2號餐：
              <%= @orderlist.dish2 %>份
            </p>
            

            <p>3號餐：
              <%= @orderlist.dish3 %>份
            </p>

            <p>總共購買了：
            <%= (@orderlist.dish1 + @orderlist.dish2 + @orderlist.dish3) %>份餐點
            </p>

             <p>付款方式：
              <%= @orderlist.paylater %>
            </p>

             <p>備註：
              <%= @orderlist.detail %>
            </p>
            
            <hr>

            
            <p> 新台幣＄
            <%= ((@orderlist.dish1 + @orderlist.dish2 + @orderlist.dish3) *299) %></p>

            <font size = "2" color= "red">新會員第一份餐點免費：若您第一次溝買，請在以上購買金額扣除＄299。</font>
<br>
          <br>
            <p>發票：
              <%= @orderlist.reciever %>
            </p>

            <br>
            <p>免費餐點密碼：
              <%= @orderlist.discount %>
            </p>

            <hr>
            <font size = "3" color= "red">以下請您在完成餐點付款後再回來填入（查看訂單 > 訂單細節 > 編輯頁裡)</font>
<br><br>
            <p>匯款/轉帳（帳號末5碼）：
              <%= @orderlist.account %>
            </p>

            <p>匯款/轉帳金額：$
              <%= @orderlist.wireamount %>
            </p>

            <p>匯款/轉帳日期：$
              <%= @orderlist.re %>
            </p>

            <hr>
            <p>
            付款帳號(匯款/轉帳）: 迪士洛普有限公司
            <br>
            兆豐國際商業銀行 （大安分行）
            帳號： 229-09-03502-2
            </p>
            <br>
            <br>

        


            <% if current_user == @orderlist.user %>
                <%= link_to '編輯', edit_orderlist_path(@orderlist) %> |
            <% end %>
            <%= link_to '上一頁', orderlists_path %>
        </div>
    </div>
</div>
<center><img src="http://farm8.staticflickr.com/7401/10688186036_09b238a1e5_o.png" width="1016" height="800" alt="10572560456_23439626d9_o"></center>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>