<!DOCTYPE html>
<html>

  <head>
    <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="Chef29:post" /> 
    <meta property="og:url"             content='<% "http://wwww.chef29.com/" + category_path(@category) %>' /> 
    <meta property="og:title" content='<%= @category.name %>' />
     <meta property="og:image"           content="http://farm4.staticflickr.com/3761/9730599510_a74ae4585d_o.png" /> 
 
   

  <% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<body>

<p id="notice"><%= notice %></p>


 <font color="gray" face = "Baskerville Old Face"> <h2><%= @category.name %></h2></font>
<hr>
<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="http://farm8.staticflickr.com/7376/10865432235_c38d4c9a88_o.png" width="150" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="http://farm6.staticflickr.com/5542/10865422046_415fca3c0d_o.png" width="150" height="301" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="http://farm8.staticflickr.com/7405/10866846856_8fc17bfde9_o.png" width="160" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="http://farm3.staticflickr.com/2822/10865582604_65bf506791_o.png" width="150" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<hr>
<br>
  <div id="pins">
     <%= render @pins %>
 </div>

<%= will_paginate @pins %>

<%= link_to '', edit_category_path(@category) %> 
<%= link_to '', categories_path %>

</body>
<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="http://farm8.staticflickr.com/7376/10865432235_c38d4c9a88_o.png" width="150" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="http://farm6.staticflickr.com/5542/10865422046_415fca3c0d_o.png" width="150" height="301" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="http://farm8.staticflickr.com/7405/10866846856_8fc17bfde9_o.png" width="160" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="http://farm3.staticflickr.com/2822/10865582604_65bf506791_o.png" width="150" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "googleplus", "email", "baidu"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
</html>